body {
    background-image: url('chess.jpg');
 }
 #container{
    background-color: rgb(207, 177, 140);
    border: 5px solid #ffca2c;
    display:flex;
    flex-direction:column; 
    height:900px;
    width:900px;
    margin-top: -450px;
    margin-left: -24%;
    justify-content:center;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
 }
 .blink {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

 